# Travic-CI-Config file for \Org\Heigl\Hyphenator
#
language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - hhvm-nightly

before_script:
 - ./.travis.install.sh

script:
 - ./vendor/bin/phpcs --standard=PSR2
 - ./vendor/bin/phpunit --configuration=phpunit.travis.xml

addons:
 code_climate:
  repo_token:
    secure:

matrix:
  fast_finish : true
  allow_failures:
      - php: 7.0

after_script:
 - ./.travis.after.sh